<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="/site_total" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name">{{ site.name }}</h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
        </header>
      </div>
    </div>

<style>
#t {box-shadow: 0px 14px 42px 0px rgb(163 174 184 / 15%);background:#fff;padding:25px;box-sizing:border-box;border-radius:15px;margin:30px 0;list-style:none}
#button {float:left;padding:0;position:relative;outline:0;;height:12px;background:#fff;border:0;top:10px;overflow:hidden;z-index:998;cursor:pointer}
.mobile {display:none}
@media (max-width:1024px) {
.mobile {display:block}
}    
</style>
    
<div id="s" class='mobile'>
<center id='t' style='padding:10px 15px 15px;box-shadow: 0px 14px 42px 0px rgb(163 174 184 / 90%);position: fixed;left:50%;margin-left:-173px;margin-top:0;opacity:0.95;border-left:0;z-index:999'>
<button type="button" id='button' onclick="s()"><img src='//cdn.jsdelivr.net/npm/fluke201@0.0.3/2.png' style='width:10px'></button>

<script src='//img.mobon.net/js/common/HawkEyesMaker.js'></script>
<script>
	new HawkEyes({"type":"banner","responsive":"N","platform":"M","scriptCode":"680564","width":"320","height":"50","frameCode":"37","settings":{"cntad":"3","cntsr":"1"}});
</script>

<center style='line-height:300px;width:320px'>광고지면</center>

</center>
<script>var c=0,as=document.getElementById("s");function s(){switch(++c){case 6:as.style.opacity=0}}</script>

<div style='height:400px' class='mobile'></div></div>    
    

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

  </body>
</html>
